.modify-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    display: flex; 
}

.modify-content {
    margin: auto;
    flex-direction: column;
    
}
.close-btn {
    padding: 0.5rem;
    padding-bottom: 0rem;
    background: #FF6F61;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    width: 30px;
    height: 30px;
    margin-left: auto;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.bk {
    width: 600px;
    height: 80px;
    display: flex;
    background-color: white;
    flex-direction: row;
    align-items: center;
}
.bk input {
    flex: 1; /*버튼을 뺀 빈 공간을 모두 채워줍니다*/
    font-size: 1.25rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #FF6F61;
    margin: 1rem;
}
.complete-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    background: #FF6F61;
    border-radius: 3px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}

.cal-icon {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    background: #FF6F61;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
}